/* COMMON STYLES */

.welcome {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin: 5px 40px;

  img {
    max-width: 65px;
  }

  p {
    font-size: 0.85em;
    font-weight: 600;

    padding: 6px 15px 5px 15px;
    margin-left: 15px;

    border-left: 1px solid rgba(225, 225, 225, 0.5);
  }
}

.nav {
  margin: 30px auto;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
  text-align: center;

  li {
    a {
      color: #fff;
      text-transform: uppercase;
      font-size: 0.75em;
      font-weight: 600;
      text-decoration: none;

      margin: 0 8px;
      padding: 8px 15px;
    }
    a:hover {
      color: #ffd2b3;
      transition: all 0.4s ease;
    }
    a.selected {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
}

.intro {
  max-width: 900px;
  min-height: 140px;
  margin: 0px auto;

  text-align: center;
  font-size: 1.5em;
  line-height: 1.75em;

  button {
    z-index: 10;
    position: relative;
    margin-left: 5px;

    content: 'Play';
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
  }

  button:after {
    content: '';
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 19px solid #fff;
    margin: 0 0 0 6px;
  }

  button.stopBtn {
    content: 'Stop';
  }

  button.stopBtn:after {
    content: '';
    display: inline-block;
    border: 10px solid rgba(255, 255, 255, 0.25);
    margin: 0px;
  }

  /*button hover*/
  button.stopBtn:hover:after {
    border: 10px solid #ffd2b3;
    transition: all 0.4s ease;
  }

  button:hover {
    background: rgba(255, 210, 179, 0.08);
    border: 1px solid rgba(255, 210, 179, 0.6);
    transition: all 0.4s ease;
  }

  button:hover:after {
    border-left: 19px solid #ffd2b3;
    transition: all 0.4s ease;
  }
}

/* MASLO STYLES */
.maslo-container {
  z-index: 1;
  max-width: 600px;
  min-height: 460px;
  margin: 0px auto;

  position: relative;
  top: -35px;

  p {
    height: 30px;
    margin: 0;

    text-align: center;
    font-size: 1.5em;
  }
}

.maslo-container.maslo-doctor {
  top: 0;

  #maslo {
    position: relative;
    right: 200px;
    top: 20px;

    img {
      max-width: 450px;
    }
  }
}
