body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  /* yellow ffd2b3 */

  background: linear-gradient(
    135deg,
    rgb(124, 85, 242) 0%,
    rgb(180, 121, 242) 51%,
    rgb(250, 187, 234) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
